<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-coredata-nsmanagedobjectcontext-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FD300091E51C10D00C52DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD300141E51C10D00C52DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FD3FFF21E51C10D00C52DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
